.tag-1 {
  z-index: 7;
  display: block;
  width: 1200px;
}

#wall #tag-2 {
  background: url(../images/tag-2.png) no-repeat;
  z-index: 1;
  display: block;
  margin-right: 90%;
  color: blueviolet;
}

#wall #tag-4 {
  background: url(../images/tag-4.png) no-repeat;
  z-index: 1;
  display: block;
}